In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Seema\Downloads\customer_shopping_behavior.csv")

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [6]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [7]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [8]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [9]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [12]:
#Create a column age-group
labels = ['Young Adult','Adult','Middle age','Senoir']
df['age_group'] = pd.qcut(df['age'], q=4, labels= labels)

In [13]:
df[['age','age_group']].head(10)

   age    age_group
0   55   Middle age
1   19  Young Adult
2   50   Middle age
3   21  Young Adult
4   45   Middle age
5   46   Middle age
6   63       Senoir
7   27  Young Adult
8   26  Young Adult
9   57   Middle age

In [15]:
#create purchace frequency days

frequency_mapping = {
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90
}

df['purchase_frequecny_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [16]:
df[['purchase_frequecny_days','frequency_of_purchases']].head(5)

   purchase_frequecny_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually

In [17]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [18]:
(df['discount_applied']== df['promo_code_used']).all()

np.True_

In [19]:
df = df.drop('promo_code_used',axis=1)

In [ ]:
#######################df = df.drop('Age_group',axis=1)

In [34]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequecny_days'],
      dtype='object')

In [35]:
print(df.dtypes)

customer_id                   int64
age                           int64
gender                       object
item_purchased               object
category                     object
purchase_amount               int64
location                     object
size                         object
color                        object
season                       object
review_rating               float64
subscription_status          object
shipping_type                object
discount_applied             object
previous_purchases            int64
payment_method               object
frequency_of_purchases       object
age_group                  category
purchase_frequecny_days       int64
dtype: object

In [21]:
pip install pymysql sqlalchemy

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\seema\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.15.0)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ---------------------------------------- 0.0/45.3 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.3 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.3 kB 660.6 kB/s eta 0:00:01
   ---------------------------------------- 45.3/45.3 kB 449.5 kB/s eta 0:00:00
Downloading sqlalchemy-2.0.45-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 1.9 MB/s eta 0:00:02
   - -------------------------------------- 0.1/2.1 MB 1.6 MB/s eta 0:00:02
   - -------------------------------------- 0.1/2.1 MB 919.0 kB/s eta 0:00:03
   --- ------------------------------------ 0.2/2.1 MB 1.5 MB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.1 MB 1.5 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.1 MB 1.3 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.7 MB/s eta 0:00:01
   ---------- ----------------------------- 0.6/2.1 MB 1.7 MB/s eta 0:00:01
   ------------ --------------------------- 0.7/2.1 MB 1.8 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 2.4 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 2.6 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 2.8 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 3.0 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.2 MB/s eta 0:00:00
Downloading greenlet-3.3.0-cp311-cp311-win_amd64.whl (301 kB)
   ---------------------------------------- 0.0/301.2 kB ? eta -:--:--
   ---------------------------------------  297.0/301.2 kB 9.2 MB/s eta 0:00:01
   ---------------------------------------- 301.2/301.2 kB 6.3 MB/s eta 0:00:00
Installing collected packages: pymysql, greenlet, sqlalchemy
Successfully installed greenlet-3.3.0 pymysql-1.1.2 sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: C:\Users\Seema\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [36]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import pandas as pd

##MySql connection details-
username='root'
password=quote_plus('seema8855822653')
host='localhost'
port = '3306'
database='customer_behavior'

engine= create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

#test connection first
with engine.connect() as conn:
    print("conneted")

#load dataframe to mysql:
df.to_sql(
    name="customer",
    con=engine,
    if_exists="replace",
    index=False
)

print("Data succesfully loaded into MySQL")

conneted
Data succesfully loaded into MySQL